@media (min-width: 768px) { 
    #about-me {

        .round-pic {
            margin: auto;
        
            border-radius: 50%;
            overflow: hidden;
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: 40% -6px;
        }

        .text-box {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }

        .about-me-item {
            position: relative;
        }
    }
}

#about-me {
    img {
        max-width: 100%;
    }
    .round-pic
    {
        
    }

    
    :nth-child( odd ) {

    }
    :nth-child( even ) {

    }
}