$text-primary-color: #F1FAEE;
$text-secondary-color: #A8DADC;
$text-dark-color: #124080;
$text-secondary-accent: #455e80;
$accent-color: #E63946;
$bg-1-color: #1D3557;
$bg-2-color: #457B9D;
$bg-3-color: #14263f;