// Utilities
@import "../assets/utilities/variables";
#site--content {
	.section {
		background-size: cover;

		h3 {
			font-size: 1.5;
		}
	}

	h1 {
		font-size: 7rem;
		text-shadow: 5px 7px 10px black;
		font-weight: 300;
		font-family: 'Bebas Neue', cursive;
	}

	.col {''
		.light-section {

			h1 {
				color: var(--accent-color);
			}
		}
	}
}