// Utilities
@import "../assets/utilities/variables";
#site--content {
	.section {
		background-color: var(--bg-2-color);
		background-size: cover;

		h3 {
			font-size: 1.5;
		}
	}

	h1 {
		font-size: 4rem;
		text-align: center;
		font-weight: 300;
	}

	.col {
		.section {
			background-color: var(--bg-1-color);
		}

		.light-section {
			background-color: var(--bg-2-color);

			h1 {
				color: var(--accent-color);
			}
		}
	}
}