@media (min-width: 576px) { 
	#skills-chart  {
		font-size: 30px!important;
	}
}

#skills-chart {
	white-space: nowrap;
    height: fit-content;
    margin: auto;
    color: var(--text-secondary-color);
    font-family: 'Raleway', sans-serif;

	span {
		-moz-transition: all .1s ease-in;
		-o-transition: all .1s ease-in;
		-webkit-transition: all .1s ease-in;
		transition: all .1s ease-in;

		:hover {
			transform: scale(1.1);
		}
	}
}

h2 {
	margin: 15px;
	color: var(--text-primary-color);;
}

.meter-bar {
	width: 20%;
	height: 30%;
	background-color: var(--accent-color);
}

