@media (min-width: 576px) { 
	#skills-chart  {
		font-size: 30px!important;
	}
}

#skills-chart {
	white-space: nowrap;
    height: fit-content;
    margin: auto;
    color: var(--text-secondary-color);
    font-family: 'Raleway', sans-serif;
	border-color: var(--bg-2-color)!important;
	background-color: var(--bg-transparent-color);

	span {
		-moz-transition: all .1s ease-in;
		-o-transition: all .1s ease-in;
		-webkit-transition: all .1s ease-in;
		transition: all .1s ease-in;

		:hover {
			transform: scale(1.1);
		}
	}

	.skill-container {
		.skill-meter > div {
			border-right: solid var(--bg-1-color) 2px;
		}
	}
}

h2 {
	margin: 15px;
	color: var(--text-primary-color);;
}

.meter-bar {
	width: 20%;
	height: 30%;
	background-color: var(--accent-color);
}

.border-left, .border-right {
	border-color: var(--text-secondary-color)!important;
}