// Utilities
@import "../assets/utilities/variables";

@media (min-width: 1200px) {
	#landing--container {
		img {
			left: 60% !important;
    		top: 40% !important;
			max-width: 26%!important;
			z-index: 0;
		}
	}
}

@media (min-width: 768px) { 
	#landing--container {
		h1 {
			font-size: 10rem!important;
		}
	}
 }

@media (min-width: 576px) {
	#landing--container {
		img {
			// max-width: 40%!important;
			// left: 50%!important;
		}
	}
	#header-content {
		margin-right: 0!important;
		margin-left: 12vw!important;
		max-width: fit-content!important;
		text-align: left!important;
	}

	#social-buttons {
		font-size: 3rem!important;
	}
}

#landing--container {
	display: flex;
	height: 100vh;

	background-color: var(--bg-1-color);

	img {
		position: absolute;
		max-width: 60%;
		max-height: 85vh;

		left: 19%;
		top: 10%;
	}

	h1 {
		font-size: 4rem;
		text-shadow: 5px 7px 10px black;
		font-family: 'Bebas Neue', cursive;
	}

	h2 {
		color: var(--text-primary-color);
		text-shadow: 5px 7px 10px black;
	}
}

#header-content {
	text-align: center;
	
	margin: 20vh auto;
	max-width: 95vw;
	min-width: 1vw;
	height: fit-content;
	z-index:2;
}

#social-buttons {
	position: fixed;
	display: flex;
    color: white;
    bottom: 0;
    left: 0;
	font-size: 2.5rem;
	z-index: 9999;

	div {
		margin: 5px;

		*:hover {
			-moz-transition: all .1s ease-in;
			-o-transition: all .1s ease-in;
			-webkit-transition: all .1s ease-in;
			transition: all .1s ease-in;

			cursor: pointer;
			color: var(--accent-color);
		}
	}
}
