@media (min-width: 1980px) {
	#landing--container video {
		width: 100vw!important;
	}
}

@media (min-width: 576px) {
	#header-content {
		margin-right: 0!important;
		margin-left: 12vw!important;
		max-width: fit-content!important;
		text-align: left!important;
	}

	#landing--container video {
		left: 0!important;
		top: 0!important;
	}

	#social-buttons {
		font-size: 3rem!important;
	}
}

#landing--container {
	display: flex;
	height: 100vh;
}

#landing--container video {
	position: fixed;
	z-index: -1;
	left: -55%;
	width: 2000px;
}

#landing--container h1 {
	font-size: 4rem!important;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}

#landing--container h2 {
	color: var(--text-primary-color);
	font-family: 'Raleway', sans-serif;
}

#header-content {
	text-align: center;
	
	margin: 20vh auto;
	background-color: rgba(29, 53, 87, 0.4);
	max-width: 95vw;
	min-width: 1vw;
	height: fit-content;
}

#social-buttons {
	position: fixed;
    color: white;
    bottom: 0;
    left: 0;
	font-size: 2.5rem;
	z-index: 9999;
}

#social-buttons * {
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	margin: 5px;
}

#social-buttons *:hover {
	cursor: pointer;
	color: var(--accent-color);
}
