// Utilities
@import "./assets/utilities/variables";

:root {
	--text-primary-color: #F1FAEE;
	--text-secondary-color: #A8DADC;
	--text-dark-color: #1D3557;
	--text-secondary-accent: #6D0B00;
	--accent-color: #E63946;
	--bg-1-color: #1D3557;
	--bg-2-color: #457B9D;
	--bg-3-color: #14263f;

	--bg-transparent-color: rgba(29, 53, 87, 0.6);
	font-family: 'Montserrat', sans-serif;

	overflow-y: overlay;
}

/* Modify Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none; 
}

::-webkit-scrollbar-thumb {
  background:$text-secondary-accent; 
  border-radius: 90px;

}

::-webkit-scrollbar-thumb:hover {
  background: #354862;
}

h1 {
	color: var(--accent-color);
	font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	color: var(--text-secondary-color);
}

h4, h5 {
	color: var(--accent-color)
}

p {
	color: var(--text-primary-color);
	font-family: 'Montserrat';
}

.background {
	background-color: var(--bg-3-color);
}