:root {
	--text-primary-color: #003049;
	--text-secondary-color: #828081;
	--accent-color: #d62828;
	--bg-1-color: #f7f7f7;
	--bg-2-color: #f77f00;
	--bg-3-color: #fcbf49;
	--bg-4-color: #eae2b7;
}

h1 {
	color: var(--text-primary-color);
	font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem!important;
}

p {
	font-family: 'Roboto', sans-serif;
}