// Utilities
@import "./assets/utilities/variables";

:root {
	--text-primary-color: #F1FAEE;
	--text-secondary-color: #A8DADC;
	--text-dark-color: #1D3557;
	--text-secondary-accent: #6D0B00;
	--accent-color: #E63946;
	--bg-1-color: #1D3557;
	--bg-2-color: #457B9D;
	--bg-3-color: #14263f;

	--bg-transparent-color: rgba(29, 53, 87, 0.6);

	/* --text-primary-color: #FAF0BC;
	--text-secondary-color: #C94748;
	--accent-color: #FDD177;
	--bg-1-color: #1B3B45;
	--bg-2-color: #1B3B45; */
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: var(--accent-color);
	font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	color: var(--text-secondary-color);
}

h4, h5 {
	color: var(--accent-color)
}

p {
	color: var(--text-primary-color);
	font-family: 'Raleway', sans-serif;
}

.background {
	background-color: var(--bg-3-color);
}