@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@400;600&family=Roboto&family=Roboto+Mono&display=swap&family=Raleway:wght@300&family=Roboto+Mono&display=swap');
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
