@media (min-width: 768px) { 
	.job-details h1{
		width: 80%;
		margin-top: 10px;
	}

	.content {
		margin-top: 0!important;
	}

	.job--thumbnail img {
		width: 100%!important;
	}
}

hr {
	border-color: var(--accent-color);
}

.content {
	margin-top: 30px;
}

.job-details h1 {
	text-align: center;
}

.job-details h2 {
	color: var(--text-primary-color);
}

.job-details h3 {
	color: var(--text-primary-color);
}

.job-details h5 {
	color: var(--text-secondary-color);
}

.job--thumbnail {
	text-align: center;
}

.job--thumbnail img {
	width: 50%;
    border-radius: 25px;
}